body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
  }
  
  h1 {
    text-align: center;
  }
  
  #chart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  